$logo: #1D4BCC;
$logoclk: #1D3BCC;
$headbar: #24292E;
$barspacedark: #F8F8FA;
$barspace: #FAFBFC;
$baredge: #DADFE7;
$divider: #D3D3D3;
$workspace: #FFFFFF;
$barlightmark: #14C5FF;
$barhighlight: #EDF5FB;
$graph: #5D016D;
$loss: #FF0843;
$lossclk: #f00843;
$profit: #22C588;
$emerald: #00A896;
$strongtext: #505050;
$textcolor: #79797F;
$comments: #BFBFBF;
$textlight: #078CFF;
$textlightclk: #077CFF;
$tidia1: #4DC3F7;
$tidia2: #FF8863;
$tidia3: #4BD0E1;
$tidia4: #8F75D1;
$tidia5: #FFD450;
$tidia6: #4DA197;
$tidia7: #65A7E0;
$tidia8: #F8A34D;